<ion-view view-title="Homesz">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>

<div class="list">

    <a class="item item-avatar" href="#/app/login">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a>
     <a class="item item-avatar" href="#">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a> <a class="item item-avatar" href="#">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a> <a class="item item-avatar" href="#">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a>

    

</div>
  </ion-content>
</ion-view>
