<ion-view view-title="myKart">
  <ion-content class="pr-wrapper">
  <div class="row pr-bg height_100Pre padding-zero">
  <div class="col">
    <div class="list list-inset">
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
      </label>
  </div>

<div class="list">
    <a class="item item-avatar no-brdr" href="#/app/product-detail">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a>
     <a class="item item-avatar no-brdr" href="#/app/product-detail">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a> <a class="item item-avatar no-brdr" href="#/app/product-detail">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a> <a class="item item-avatar no-brdr" href="#/app/product-detail">
      <img src="img/index.jpg">
      <h2>product Name</h2>
      <p>lorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum
      orem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</p>
    </a>
</div>
    </div>

</div>
  </ion-content>
  
</ion-view>
