<ion-view view-title="Product Name">
  
  <ion-content>
   <div class="list">
    <a class="item item-thumbnail-left" href="javascript:;">
      <img class="brdr-radius" src="img/index.jpg">
      <h2>Product Name</h2>
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    </a>
    </div>
<ion-slide-box>

   <ion-slide>
      <div class = "box box1">
         <h1>Box 1</h1>
         <img src="img/slide-img-1.jpg"/>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2">
         <h1>Box 2</h1>
         <img src="img/slide-img-2.jpg"/>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box3">
         <h1>Box 3</h1>
         <img src="img/slide-img-3.jpg"/>
      </div>
   </ion-slide>
</ion-slide-box>



  </ion-content>
</ion-view>
