<ion-view view-title="Product Name">
  
  <ion-content class="pr-wrapper">
  <div class="row pr-bg height_100Pre padding-zero ">
  <div class="col">
   <div class="list">
    <a class="item item-thumbnail-left no-brdr" href="javascript:;">
      <img class="brdr-radius" src="img/index.jpg">
      <h2>Product Name</h2>
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    </a>
    </div>
<ion-slide-box>

   <ion-slide>
      <div class = "box box1 text-center pdng-btm">
         <h1>Box 1</h1>
         <img src="img/slide-img-1.jpg"/>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2 text-center pdng-btm">
         <h1>Box 2</h1>
         <img src="img/slide-img-2.jpg"/>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box3 text-center pdng-btm">
         <h1>Box 3</h1>
         <img src="img/slide-img-3.jpg"/>
      </div>
   </ion-slide>
</ion-slide-box>


</div>
</div>
  </ion-content>
  
</ion-view>
